@media (prefers-color-scheme: light) {
  :root {
    --primary-color: red;
    --accent-color: red;
    --background-color: red;
    --border-color: red;
    --contrast-color: red;
    --theme-color: red;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #FFA500FF;
    --accent-color: #C3C3C5FF;
    --background-color: #151516FF;
    --border-color: #3E3E3EFF;
    --contrast-color: #FFFFFF;
    --theme-color: #000000FF;
  }
}

/* --- BREAKPOINTS --- */
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

/* --- DIMENSIONS --- */
$h1-size: clamp(2rem, 8vw, 3.5rem);
$h2-size: clamp(1.34rem, 5.36vw, 2.35rem);
$h3-size: clamp(0.8978rem, 8vw, 1.57115rem);
$h4-size: clamp(0.71824rem, 8vw, 1.25692rem);
$h5-size: clamp(0.57459rem, 8vw, 1.00554rem);
$h6-size: clamp(0.45967rem, 8vw, 0.80443rem);

$border-width: 2px;
$border-radius: 1rem;
$border-circle-radius: 100%;

/* --- Colors --- */
$primary-color: var(--primary-color);
$accent-color: var(--accent-color);
$background-color: var(--background-color);
$border-color: var(--border-color);
$contrast-color: var(--contrast-color);
$theme-color: var(--theme-color);

/* --- FONTS --- */
@font-face {
  font-family: "Marsden";
  src: url(/static/assets/fonts/Marsden.ttf);
}

@font-face {
  font-family: "Articulat";
  src: url(/static/assets/fonts/Articulat.otf);
}

@font-face {
  font-family: "Articulat-Medium";
  src: url(/static/assets/fonts/Articulat-Medium.otf);
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(/static/assets/fonts/JetBrainsMono.ttf);
}

$logo-font: "Marsden", sans-serif;
$text-font: "Articulat-Medium", sans-serif;
$accent-text-font: "Articulat", sans-serif;
$code-font: "JetBrains Mono", sans-serif;

/* --- STYLES --- */
$border: $border-width solid $border-color;

/* --- TRANSITIONS --- */
$default-transition-duration: 0.2s;
$default-transition: ease-in-out $default-transition-duration;

/* --- STYLES --- */
:root {
  scroll-behavior: smooth;
}

*,
html,
body,
span,
div,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6
{
  padding: 0;
  margin: 0;
  zoom: 100%;
  border: none;
  text-decoration: none !important;

  &:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

html,
body {
  background-color: $background-color;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h5,
button {
  font-size: $h5-size;
}

h6 {
  font-size: $h6-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: $logo-font;
  color: $contrast-color;
}

strong {
  font-family: $logo-font;
}

p,
li {
  font-family: $accent-text-font;
  color: $accent-color;
}

a {
  font-family: $accent-text-font;
  color: $primary-color;

  &:hover {
    text-decoration: underline !important;
  }
}

button {
  border-radius: $border-radius;
}

.debug {
  background-color: red !important;
}

.gslide {
  scale: 0.8;

  .gslide-media img {
    border: $border;
    border-bottom: none;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $contrast-color;
    padding: 2rem;
    object-fit: contain;
  }

  .gslide-media {
    margin: 0 !important;
  }

  .gdesc-open .gslide-media {
    opacity: 1 !important;
  }

  .glightbox-clean .gslide-media {
    box-shadow: none !important;
  }

  .gslide-title {
    margin-bottom: 0.5rem;
  }

  .gslide-description {
    display: block !important;
    position: relative !important;
    flex: none !important;
    padding: 0 !important;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $background-color;
    border: $border;

    p {
      max-height: 30vh !important;
      overflow: scroll;
    }
  }
}

.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.glitch {
   position: relative;
   font-weight: 700;
   line-height: 1.2;
   color: #fff;
   z-index: 1;
}

.glitch:before {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: #fff;
   background-color: #222;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: #fff;
   background-color: #222;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }

   5% {
      clip: rect(33px, 9999px, 144px, 0);
   }

   10% {
      clip: rect(121px, 9999px, 115px, 0);
   }

   15% {
      clip: rect(144px, 9999px, 162px, 0);
   }

   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }

   25% {
      clip: rect(34px, 9999px, 42px, 0);
   }

   30% {
      clip: rect(147px, 9999px, 179px, 0);
   }

   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }

   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }

   45% {
      clip: rect(154px, 9999px, 14px, 0);
   }

   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }

   55% {
      clip: rect(161px, 9999px, 147px, 0);
   }

   60% {
      clip: rect(109px, 9999px, 175px, 0);
   }

   65% {
      clip: rect(157px, 9999px, 88px, 0);
   }

   70% {
      clip: rect(173px, 9999px, 131px, 0);
   }

   75% {
      clip: rect(62px, 9999px, 70px, 0);
   }

   80% {
      clip: rect(24px, 9999px, 153px, 0);
   }

   85% {
      clip: rect(138px, 9999px, 40px, 0);
   }

   90% {
      clip: rect(79px, 9999px, 136px, 0);
   }

   95% {
      clip: rect(25px, 9999px, 34px, 0);
   }

   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
}

@keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }

   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }

   10% {
      clip: rect(184px, 9999px, 89px, 0);
   }

   15% {
      clip: rect(121px, 9999px, 6px, 0);
   }

   20% {
      clip: rect(181px, 9999px, 99px, 0);
   }

   25% {
      clip: rect(154px, 9999px, 133px, 0);
   }

   30% {
      clip: rect(134px, 9999px, 169px, 0);
   }

   35% {
      clip: rect(26px, 9999px, 187px, 0);
   }

   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }

   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }

   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }

   55% {
      clip: rect(74px, 9999px, 54px, 0);
   }

   60% {
      clip: rect(145px, 9999px, 75px, 0);
   }

   65% {
      clip: rect(153px, 9999px, 198px, 0);
   }

   70% {
      clip: rect(99px, 9999px, 136px, 0);
   }

   75% {
      clip: rect(118px, 9999px, 192px, 0);
   }

   80% {
      clip: rect(1px, 9999px, 83px, 0);
   }

   85% {
      clip: rect(145px, 9999px, 98px, 0);
   }

   90% {
      clip: rect(121px, 9999px, 154px, 0);
   }

   95% {
      clip: rect(156px, 9999px, 44px, 0);
   }

   100% {
      clip: rect(67px, 9999px, 122px, 0);
   }
}